DATABASE_URL="postgresql://USER:PASSWORD@EP-XXXX-pooler.us-east-2.aws.neon.tech/devstash_dev?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://USER:PASSWORD@EP-XXXX.us-east-2.aws.neon.tech/devstash_dev?sslmode=require&channel_binding=require"
SHADOW_DATABASE_URL="postgresql://USER:PASSWORD@EP-XXXX.us-east-2.aws.neon.tech/devstash_shadow?sslmode=require&channel_binding=require"
